.favoriteContainer {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.favoriteTitle {
  margin: 20px 0;
}

.favoriteGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 20px;
}